body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #00adb5;
    background-image: url("backgr (1).gif");
    background-size: cover;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    
    p {
    color: white;
    }
    
    h1 {
    color: white;
    }
    
    .head-item {
    text-align: center;
    color: #00adb5;
    }
    
    .head-item:hover {
    color: white;
    }
    
    .pfp {
    width: 100px;
    height: 100px;
    }
    
    .password-reset {
    width: 150px;
    height: 40px;
    text-align: center;
    color: #00adb5;
    background-color: #393e46;
    }
    
    .password-reset:hover {
    color: white;
    text-align: center;
    width: 155px;
    height: 45px;
    }
    
    .LK-oplata {
    width: 150px;
    height: 40px;
    text-align: center;
    color: #00adb5;
    background-color: #393e46;
    }
    
    .LK-oplata:hover {
    color: white;
    text-align: center;
    width: 155px;
    height: 45px;
    }
    
    .Akk-delete {
    width: 150px;
    height: 40px;
    text-align: center;
    color: #00adb5;
    background-color: #393e46;
    }